<!-- Start Content -->
<div id="content">
    <div class="container">
        <div class="page-content">
            <div class="error-page">
                <h1>
                    La compra no ha sido realizada.
                </h1>
                <h3>La compra no se ha llevado a cabo</h3>
                <p>Tampoco se han realizado cargos por ésta transacción.</p>
                <div class="text-center">
                    <a href="index.html" class="btn btn-primary"> Regresar a inicio </a>
                </div>
            </div>
        </div>  
    </div>
</div>
<!-- End Content -->