.col-md-3{
    max-width: 100%;
}

/*
.owl-item{
    width: 255px !important; 
    margin-right: 30px !important;
}

.brands-area{
    background-color: white !important;
    padding: 0px 5% !important;
}

.product-img > img{
    max-width: 240px !important;
}

.essence-btn {
    padding: 0px;
}
*/