<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/assets/index.html">
        <div class="sidebar-brand-icon">
            <img src="/assets/img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">Administración</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="/assets/index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Cuadro de mando</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Secciones
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSistema"
            aria-expanded="true" aria-controls="collapseBootstrap">
            <i class="far fa-fw fa-window-maximize"></i>
            <span>Sistema</span>
        </a>
        <div id="collapseSistema" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Administración del sistema</h6>
                <a class="collapse-item" routerLink="/admin/menus">Menus</a>
                <a class="collapse-item" routerLink="/admin/pantallas">Pantallas</a>
                <a class="collapse-item" href="/admin/roles">Roles</a>                
                <a class="collapse-item" href="admin/assets/modals.html">Usuarios</a>
                <a class="collapse-item" href="admin/assets/popovers.html">Permisos</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTienda"
            aria-expanded="true" aria-controls="collapseBootstrap">
            <i class="far fa-fw fa-window-maximize"></i>
            <span>Tienda</span>
        </a>
        <div id="collapseTienda" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Administracion de la tiemda</h6>
                <a class="collapse-item" href="/admin/paises">Paies</a>
                <a class="collapse-item" href="/admin/regiones">Regiones</a>
                <a class="collapse-item" href="/assets/alerts.html">Proveedores</a>
                <a class="collapse-item" href="/assets/buttons.html">Productos</a>
                <a class="collapse-item" href="/assets/dropdowns.html">Impuestos</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    <div class="version" id="version-ruangadmin"></div>
</ul>