<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="assets/index.html"><img src="assets/img/core-img/logo.png" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <!-- 
                    IMPORTANTE: No todos los nombres de clases se aplican a los menus en tiempo de 
                                ejecución en angular, por lo cual se debe comparar los nombres de 
                                las clases de los elementos <div></div>, <ul></ul> y <li></li> del
                                template de bootstrap original en tiempo de ejecución con las clases
                                aplicadas en la página Angular de bootstrap en tiempo de ejecución.
                                Los nombres de clases faltantes, copiarlos desde el template de bootstrap
                                en ejecución al código html del menú en angular en tiempo de diseño 
                -->


                <div class="classynav">
                    <ul>
                        <li class="megamenu-item"><a href="assets/#">Shop</a>   
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Women's Collection</li>
                                    <li><a href="assets/shop.html">Dresses</a></li>
                                    <li><a href="assets/shop.html">Blouses &amp; Shirts</a></li>
                                    <li><a href="assets/shop.html">T-shirts</a></li>
                                    <li><a href="assets/shop.html">Rompers</a></li>
                                    <li><a href="assets/shop.html">Bras &amp; Panties</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Men's Collection</li>
                                    <li><a href="assets/shop.html">T-Shirts</a></li>
                                    <li><a href="assets/shop.html">Polo</a></li>
                                    <li><a href="assets/shop.html">Shirts</a></li>
                                    <li><a href="assets/shop.html">Jackets</a></li>
                                    <li><a href="assets/shop.html">Trench</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Kid's Collection</li>
                                    <li><a href="assets/shop.html">Dresses</a></li>
                                    <li><a href="assets/shop.html">Shirts</a></li>
                                    <li><a href="assets/shop.html">T-shirts</a></li>
                                    <li><a href="assets/shop.html">Jackets</a></li>
                                    <li><a href="assets/shop.html">Trench</a></li>
                                </ul>
                                <div class="single-mega cn-col-4">
                                    <img src="assets/img/bg-img/bg-6.jpg" alt="">
                                </div>
                            </div>
                            <span class="dd-arrow"></span>
                        </li>
                        <li class="cn-dropdown-item has-down pr12"><a href="assets/#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="assets/index.html">Home</a></li>
                                <li><a href="assets/shop.html">Shop</a></li>
                                <li><a href="assets/single-product-details.html">Product Details</a></li>
                                <li><a href="assets/checkout.html">Checkout</a></li>
                                <li><a href="assets/blog.html">Blog</a></li>
                                <li><a href="assets/single-blog.html">Single Blog</a></li>
                                <li><a href="assets/regular-page.html">Regular Page</a></li>
                                <li><a href="assets/contact.html">Contact</a></li>
                            </ul>
                            <span class="dd-arrow"></span>
                        </li>
                        <li class="cn-dropdown-item has-down pr12"><a href="assets/blog.html">Blog</a></li>
                        <li class="cn-dropdown-item has-down pr12"><a href="assets/contact.html">Contact</a></li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Texto a buscar...">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="assets/#"><img src="assets/img/core-img/heart.svg" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div id="divLogin" class="user-login-info">
                <a routerLink="/login"><img src="assets/img/core-img/user.svg" alt=""></a>                
            </div>
            <div id="divUserName" class="user-login-info divUserNameClass">
                <a routerLink="/"><img src="assets/img/core-img/user.svg" alt=""><span id="userName"></span></a>                
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a (click)="showCart()" id="essenceCartBtn"><img src="assets/img/core-img/bag.svg" alt=""> <span id="spanCantidadProdHeader">0</span></a>
            </div>
        </div>
    </div>
</header>