
  <div id="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Sidebar -->

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <app-topbar></app-topbar>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <router-outlet></router-outlet>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <app-footer></app-footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="/assets/#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

 